:export {
    white: #ffffff;
    black: #000000;
    turquoiseSurf: #01b6d1;
    midnightGreen: #004056;
    cetaceanBlue: #001847;
    pixiePowder: #2b0087;
    licorice: #190a0a;
    burntOrange: #d74d00;
    lightMossGreen: #b8cfac;
    lavender: #aa84fb;
    atomicTangerine: #fa9c68;
    flavescent: #ffee96;
    chineseBlack: #151515;
    darkCharcoal: #323232;
    charlestonGreen: #282828;
    philippineSilver: #b7b7b7;
    forestGreen: #004d1f;
}
